$white: #FFFFFF;

//Page
$primary: #648CFF;
$secondary: #353854;

//Buttons and circles
$first: #FC6A42;
$second: #4466C9;
$third: #FCEC64;
$fourth: #6CA3FF;
$fifth: #F2A14E;
$sixth: #B8FAEE;
$seventh: #7693C8;

//Text and links
$link: #B5B5C8;
$credit: #565B87;